

ul {
	list-style-type: none; /*removes the dots from the list*/
	overflow: hidden;/*removes the overflow with the codefactory logo*/
	background-color:  #653D3D; /*changes the background color of the ul*/
	text-align: center;
}

a {
	display: block;
	padding: 8px;
}

li {
	float: left;
}
