.content {
	max-width: 900px; /*changes the width of the whole page to 900 pixels*/
	margin: 0px auto; /*centers the whole page*/
	width: 100%;
}


.logotop {
	vertical-align: middle; /*aligns the logo to the middle (is necessary for the logo-text to be able to align right next to the logo)*/
	width: 350px; /*changes the width of the logo to 350 pixel to match the excersise template better*/
}

.logobottom {
	vertical-align: middle;
	width: 200px;
}

div[id="imagetext"] h4 { /*places the text of the image next to the image*/
	display: inline-block; /*changes the text next to the image to a inline-block element (now you only mark the text if you hover-mousclick)*/
}

ul {
	list-style-type: none; /*removes the dots from the list objects*/
	overflow: hidden; /*removes the overflow with the codefactory logo*/
	background-color:  #653D3D; /*changes the background color of the ul*/
	margin: 0; /*puts the navbar content to the origin of the website*/
	padding: 0; /*puts the navbar content to the origin of the website*/
}

a {
	display: block; /*makes the navigation links to appear in a block-form*/
	padding: 10px; /*adds space inbetween the navigation links*/
	color: white; /*changes the color of the navigation links to white*/
}

li {
	float: left; /*makes the list elements appear next to each other*/
}

li a {

	display: block; /*makes the navigation links to appear in block-form*/
	color: white; /*changes the font color to white*/
	padding: 10px; /*makes the background color of the nav bar expand so it is appears "thicker"*/
	text-decoration: none; /*removes the unterlines of the links*/
	font-weight: bold; /*makes the links in the menu bold*/

}

#topsection {
	background-color: #EDEDED; /*changes background of the "topsection" to a greyish color*/
}

.maincontent {

	text-align: center; /*puts the text of the herosection "this is my first website" to the middle of the site*/
	font-size: 50px; /*makes the size of the font bigger*/
}

.latest>p {
	font-weight: bold; /*makes the "Latest Blog Posts" bold*/
	color: white; /*changes the font color to white*/
	background-color: #978484; /*background color of the paragraph to white*/
	padding: 10px /*makes the background color of the paragraph expand so it is appears "thicker"*/
}


/** {
	box-sizing: border-box; a try to fix the images to the correct format (can be ignored)
}*/

.columnright{
	float: left; /*makes the images in the blog posts section appear next to each other*/
	width: 100%; /*when there is only a single column (e.g mobilephone) then the site keeps its full width*/



}

.columnleft{
	float: left; /*makes the images in the blog posts section appear next to each other*/
	width: 100%; /*when there is only a single column (e.g mobilephone) then the site keeps its full width*/


}

/* Clearfix (clear floats) */
.row::after {
	content: "";
	clear: both;
	display: table;
	padding: 0;
}
/*somehow fixes the format of the blog post section to be more like the excersise template*/



footer {
	text-align: center; /*aligns the footer to the middle of the page*/
}

hr {
	margin-top: 80px; /*Abstand vor der hr*/
	height: 8px; /*makes the line on the bottom of the page thicker*/
	background-color: #978484; /*changes the color of the line*/
}

body {
	font-family: 'Muli', sans-serif; /*changes the font-type*/
}

div[class=row] p { 
	font-weight: bold; /*makes the descriptions of the pictures in the latest blog posts section bold to match the excersise template*/
}

h3{
	margin: 0px;
	margin-bottom: 20px; /*adds space after the column text*/
	width: 400px; /*defines the width of the columns text to be like the image*/
	font-weight: 1500; /*makes the font thicker to match the template*/
	color: #555; /*makes the color of the font lighter*/
}

div[class=row] img {
width: 400px;
height: 200px;
	margin: 0px auto;
}

@media (min-width: 918px) { /*
If the width of the body is over 918px, then these CSS classes apply (this makes the website responsive*/
.columnright{
	float: left; /*makes the images in the blog posts section appear next to each other*/
	width: 400px; /*defines the width of the left column*/
	margin-left: 50px; /*adds space in between the columns*/
}

.columnleft{
	float: left; /*makes the images in the blog posts section appear next to each other*/
	width: 400px; /*defines the width of the left column*/
	margin-right: 50px; /*adds space inbetween the columns*/
}





